/* color */
$primary-color: #f2a140;
$txt-color: #222;
$gray: #f2efeb;
$orange-0: #f0901c;
$orange-1: #f1ab68;
$orange-2: #f2a140;
$orange-3: #fce9d2;
$yellow: #f9ef11;
$body: #222222;

$voice: #ece7e2;

$color-electric: #eacc00;
$color-plumber: #4dcaee;
$color-gas: #f07272;
$color-air: #9cdf66;
$color-hammer: #4c4b48;
/* font */
$font-family: "Yugoth";
$font-poppins: "Poppins";
